@import "tailwindcss";

:root {
  font-family: "Ubuntu", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 16px;
  margin: 0;

  --viewport-padding: 16px;
}

@font-face {
  font-family: "Audiowide";
  src: url("/fonts/Audiowide-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

h2 {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.2rem;
}

h3 {
  font-size: 1.1rem;
  font-weight: 600;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

/* Toast styles */
@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(calc(100% + var(--viewport-padding)));
  }
  to {
    transform: translateX(0);
  }
}

@keyframes swipeOut {
  from {
    transform: translateX(var(--kb-toast-swipe-end-x));
  }
  to {
    transform: translateX(calc(100% + var(--viewport-padding)));
  }
}

.animate-slideIn {
  animation: slideIn 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.animate-hide {
  animation: hide 100ms ease-in;
}

.animate-swipeOut {
  animation: swipeOut 100ms ease-out;
}

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(4px) scale(0.98);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.animate-fade-in-up {
  animation: fade-in-up 120ms ease-out;
}
